* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
}

/* Header */

.site-header {
    flex: 0 0 auto;
    background-color: #73b6ae;
    color: #2b2e30;
    padding: 0 2em;
    font-size: large;
}

.active {
    color: Orange;
    font-size: xx-large;
}

.site-header a, .site-header a:visited {
    color: #2b2e30;
}

/* Main */

.main {
    flex: 1 0 auto;
    /*padding: 2em;*/
    background-color: #f3e8ef;

}

/* Footer */

.site-footer {
    flex: 0 0 auto;
    background: #73b6ae;
    color: #2b2e30;
    padding: 2em;
}

.site-footer a {
    color: #f0f0f0;
}

.title, .logo {
    float: left;
    padding: 3em 3em 3em 0;
}

.logo {
    height: 10.8em;
}

.logo * {
    display: block;
    height: 100%;
    border-radius: 3em;
}

#nav {
    float: right;
}

.container {
    width: 80%;
    display: block;
    margin: 0  auto;
    background-color: white;
    height: 100%;
    padding: 2em;
}

.container p {
    text-align: justify;
}

.myImage {
    width: 10em;
}
