@use 'sass:color';
@import 'common';
@import 'report';
@import 'old';
@import 'nav';
@import 'typography';
@import 'variables';

/* Header */
.site-header {
    background-color: $secondary-color;
    color: $third-color;
}

.active {
    color: $third-color;
}

.site-header a,
.site-header a:visited {
    color: $text-third-color;
}

/* Main */
.main {
    background-color: $fourth-color;
}

/* Footer */
.site-footer {
    background: $secondary-color;
    color: $third-color;
}

.site-footer a {
    color: $text-third-color;
}

.container {
    background-color: $container-fourth-color;
}

.kmom-box {
    background-color: $container-fourth-color;
}

.kmom-box a,
.kmom-box a:visited {
    color: $text-third-color;
}

#navColumn li a {
    color: $text-third-color;
}

.logo img {
    filter: sepia(100%);
}

.small {
    width: 75%;
}
