@use 'sass:color';
@import 'common';
@import 'report';
@import 'old';
@import 'nav';
@import 'typography';
@import 'variables-dark';
@import 'gallery';


/* Header */
.site-header {
    background-color: $fourth-color;
    color: $third-color;
}

.active {
    color: $third-color;
}

.site-header a,
.site-header a:visited {
    color: $text-third-color;
}

/* Main */
.main {
    background-color: $secondary-color;
}

/* Footer */
.site-footer {
    background: $fourth-color;
    color: $third-color;
}

.site-footer a {
    color: $text-third-color;
}

.container {
    background-color: $container-fourth-color;
}

.kmom-box {
    background-color: $container-fourth-color;
}

.kmom-box a,
.kmom-box a:visited {
    color: $text-third-color;
}

.navcolumn li a {
    color: $text-third-color;
}

p,
h1 {
    color: $text-third-color;
}

img {
    filter: grayscale(100%);
}

.small {
    width: 75%;
}

.extrasmall {
    width: 30%;
}

.embed-container {
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
    overflow: hidden;
    max-width: 100%;
}

.embed-container iframe,
.embed-container object,
.embed-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
