$main-color: #737bb6;
$secondary-color: #7bb673;
$third-color: #b6737b;
$fourth-color: #b6ae73;

$container-fourth-color: color.change(#b6ae73, $lightness: 90%);
$text-third-color: color.change(#b6737b, $lightness: 50%);
